@import "./inicio.scss";

@import "./menu.scss";

@import "./pelea.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    text-decoration: none;
}

.pixelart {
    image-rendering: pixelated;
}

:root {
    --pixel-size: 1.5;
}

.volver {
    border-radius: 30px;
    width: 100px;
    height: 60px;
    font-family: 'Noto Serif Georgian', serif;
    background-color: #AE0A0A;
    font-size: 1.2rem;
    transition: 0.5s;
    &:hover {
        width: 110px;
        height: 70px;
        text-decoration: white;
    }

    .volver__spam {
        text-decoration: none;
        color: black;
        transition: 0.5s;
        &:hover {
            color: white;
        }
    }
} 
